.breadcrumb{
    padding: 5px;
    background-color: lightgray;
    list-style: none;
}

.breadcrumb li{
    display: inline;
}

.breadcrumb li a{
    color: blue;
}

/* :not(:first-child) comes before ::before  */
.breadcrumb li:not(:first-child)::before  {
    content: "/";
    color:black;
    padding: 5px;
}


