@media (max-width:600px){
    header{
        background-color: #04121F;
        padding: 20px;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .hero-img{
        height: 200px;
        margin-left: 50px;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .card-layout{
        margin-bottom: 20px;
    }

    
}

header{
    background-color: #04121F;
    padding: 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    
}

main{
    background-color: blanchedalmond;
    padding: 10px;
}

footer{
    background-color: beige;
    padding: 10px
}
 
.hero-section{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
}

.hero-img{
    height: 200px;
    border-radius: 25px;
    margin-left: 50px;

}


.container{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.card-layout{
    border: 3px solid black;
    background-color: darksalmon;
    padding: 8px;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
}


/* .card-layout div = every div under .card-layout */
/* .card-layout > div = only divs covered by .card-layout */
.card-layout > div{
    /* border: 3px solid purple; */
    margin: 2px;
    /* width: 100%; */
}

.card-layout  div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Decide if image resizing at <div class or <img class */
.incard-img{
    /* display: flex; */
}

.incard-img img{
    height: auto;
    width: 100%;
    display: flex;
    flex-grow: 1;
    margin-bottom: 15px;

}

.incard-tag{
    /* padding: 10px; */
    /* margin: 10px; */
    display: flex;
}

.incard-tag div{
    border: 1px solid purple;
    background-color: purple;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    margin: 2px;
    font-size: 14px;
    margin-bottom: 10px;
}

.incard-title{

}

.incard-title div{
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.incard-creator-date{
    display: flex;
}

.in-incard-creator, .in-incard-date{
    flex: 1;
    /* border: 2px solid blue; */
    margin: 3px;
}

.in-incard-creator div, .in-incard-date div{
    display: flex;
    font-size: 12px;
}

.in-incard-date div{
    justify-content: right;
}


